.home-container {
    background-color: var(--main-color);
    padding: 72px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: white;
    margin-top: var(--navbar-height);
    flex-wrap: wrap;
}

.home-container > img {
    height: 250px;
    border-radius: 200px;
}

.home-container p {
    max-width: 640px;
    text-align: justify;
}

h1 {
    margin-bottom: 8px;
}

@media (min-width: 720px) {
    
}