.navbar-container {
    background-color: black;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
    height: var(--navbar-height);
}

.navbar-container > img{
    max-height: 48px;
}


@media (min-width:720px) {
    
}